
    

#AddAlidaniContactFrm label.error, #EditSAlidaniContactFrm label.error, #AdminInfoAlidaniContactFrm label.error{
    color:red;
}

.main-formstyle{
    width: 45%;
    float: left;
    height: auto;
}
#interform-style{
    padding: 10px;
}
#seventhlebalText{
    padding: 10px;
}

#AddAlidaniContactFrm{
    padding: 10px;
}
#interbackcolor-form{
    padding: 10px;
}

.buttonadjust-form{
    width: 50%;
    float: right;
  
}
/* .form-group{
    padding: 2px;
    display: flex;
    
} */
.frontEditCss{
    padding: 8px;
    display: flex;
}
.Submit-frontCSS{
    margin-left: 50%;
    margin-right: 50%;
}
.AdminEditCss{
    padding: 2px;
    display: flex;
}
.AdminInfo{
    padding: 2px;
    display: flex;
}
.EditPageCss{
    padding: 2px;
    display: flex;
}
.insideSendform-emailRight{
    padding: 2px;
    display: block;
}

.panel-primary{
    border: 0px solid transparent;
    box-shadow: 0,0,10px;
}
.panel-heading{
    border: 0px solid transparent;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;


}
.buttonclassback-color{
    background-color: rgb(217, 230, 227);
    color: #8a5757;
    font-weight: bold;
    margin-left: 10px;
    
}
.buttonclassback-color,div{
    padding-bottom: 10px;
    
}
#submitidColor{
    text-align: center;
}
.mainSend-form{
    width: 100%;
}
.mainsendLeft-form{
    width: 49%;
    float: left;
}
.mainSendRight-form{
    width: 49%;
    float: right;
    margin-right: 10px;
    display: block   ;
    margin-top: -10px;

}
.insideSendform-email{
    padding-left: 10px;
    padding-right: 12px;
    display: flex;    
}

.shortcode-info{
    width: 60%;
    color: rebeccapurple;
    font-size: 20px;
    margin-left: 2px;
}
.myslidingRecieve{
    padding: 3px;
}

 .adminButton   {
        background-color: darkseagreen;
        font-style: italic;
        text-align: center;
    }
.adminButton:hover{
    cursor: pointer;
    background-color: lightgreen;
}